### BEGIN INIT INFO
# Default-Start:  2 3 4 5
# Default-Stop: 0 1 6
### END INIT INFO

[Unit]
Description=Node.js Example Server

[Service]
ExecStart=/usr/bin/node index.js
WorkingDirectory=/var/app2
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejsap1

[Install]
WantedBy=multi-user.target


